{% extends 'base.html' %}
{% block content %}
    <div class="others">
        <h2>在庫</h2>
        {% for product in object_list %}
        {% if product.classification == '野菜' %}
        <table border="1">
            <tr>
                <td></td>
                <td>商品名</td>
                <td>在庫数</td>
                <td>重さ</td>
                <td>金額</td>
            </tr>
            
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.cost }}</td>
            </tr>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        {% elif classification == '肉類' %}
        <table border="1">
            <tr>
                <td></td>
                <td>商品名</td>
                <td>在庫数</td>
                <td>重さ</td>
                <td>金額</td>
            </tr>
            
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.cost }}</td>
            </tr>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        {% elif product.classification == 'フルーツ' %}
        <table border="1">
            <tr>
                <td></td>
                <td>商品名</td>
                <td>在庫数</td>
                <td>重さ</td>
                <td>金額</td>
            </tr>
            
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.cost }}</td>
            </tr>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        {% elif product.classification == '調味料' %}
        <table border="1">
            <tr>
                <td></td>
                <td>商品名</td>
                <td>在庫数</td>
                <td>重さ</td>
                <td>金額</td>
            </tr>
            
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.cost }}</td>
            </tr>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        {% else %}
        <table border="1">
            <tr>
                <td></td>
                <td>商品名</td>
                <td>在庫数</td>
                <td>重さ</td>
                <td>金額</td>
            </tr>
            
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.cost }}</td>
            </tr>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}